@use 'vendor/_normalize';
@use 'partials/_colors';

body {
  color: colors.$primary-font-color;
 
}

h2 {
    color: colors.$secondary-font-color;
}


.container {
 display: grid;
 align-items: center; 
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
}

img {
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
  margin: 15px;
}

.text {
  font-size: 25px;
  text-align: center;
  margin: 15px;
}




nav {  
   ul {
    margin: 0;
    padding: 0;
    list-style: none;  
  background: colors.$darker-background; 
   }
  li { 
    display: inline-block; 

     a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: colors.$tertiary-font-color;
  }
}
}


.topnav-right {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: colors.$darker-background; 
  }
  li { 
    display: inline-block; 
    
  a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: colors.$tertiary-font-color;
  }
}
} 


.icon {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: colors.$dark-background;
  color: colors.$tertiary-font-color; 
  text-align: center; 
} 
